@import "../node_modules/bootstrap/scss/bootstrap";
@import "/styles/variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

main {
  min-height: 100%;
  flex: 1 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  background-color: $ra-red;
}

.footer {
  @extend .banner;
  padding: 2rem 0;
  color: rgba($ra-light, 0.75);
  font-size: 10px !important;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height:120px;
  z-index: 1000;
  @extend .banner;

  .nav-item {
    font-size: 1.4rem;
  }
}

.navbar {
  @extend .banner;
  height:120px;
}

.nav-brand, .nav-col {
  height: 120px;
}

.basic-navbar-nav {
  @extend .banner;
}

.kikapekiskwewin-logo {
  padding-top: 10px;
  width: 650px;
  height: 120px;
}

.kikapekiskwewin-logo-text {
  position: relative;
  padding: 0;
}

.kikapekiskwewin-logo-icon {
  position: relative;
  padding: 0;
}

.c19-alert {
  position:absolute !important;
  top:0;
  right:0;
  left: 0;
  z-index: 10000;
}

// @media screen and (max-width: 1400px) {

// }

@media screen and (max-width: 1200px) {
  .kikapekiskwewin-logo {
    width: 500px;
  }
}

// @media screen and (max-width: 992px) {
// }

@media screen and (max-width: 576px) {

  .navbar {
    height: 100px;
  }

  .footer {
    font-size: smaller;
  }

  .kikapekiskwewin-logo {
    margin-top: 0;
    padding-top: 0;
    width: 120px;
  }

  .kikapekiskwewin-logo-text{
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
}