@import "/styles/variables.scss";

.main {
  @include main-background();
}

.athabasca-blurb {
  margin-top: 100px;
 position: relative;
}

.location-image-bg {
  width: 100%;
  @include main-background();
  z-index: -10;
  position: relative;
}

.testdiv {
  height: 800px;
  background-color: red;
}

.location-image-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 90vw;
  margin-top: -30vw;
}
.location-image {
  width: 100%;
  z-index: -1;
}



@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {

  .athabasca-blurb {
    @include textbox();
    position: absolute;
    width: 600px;
    margin-left: calc(110px);
    bottom: 50px;
    }
}

@media screen and (min-width: 1400px) {

  .location-image {
   // border-radius: 50px; add when more content hits page
  }

  .location-image-box {
      width: 1400px;
      height: auto;
      margin-top: -450px;
    }

    .athabasca-blurb {
      margin-left: calc(110px + (50vw - 700px));
    }
}