@import "/styles/variables.scss";

.main {
  @include main-background();
  padding-top: 4vw;
}

.user-card {
  transition: 0.4s;
  position: relative;
  width: 300px;
  overflow: hidden;
}

.user-card-focus {
  z-index: 100;
  transform: scale(1.5);
}

.user-card-detail {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  transition-duration: 0.4s;
  transform: translateY(200%);
  background-color: rgba(white, 0.8);
  width: 100%;
}

.user-card-detail-text {
  font-size: smaller;
}

.user-card-detail-show {
  transform: translateY(0);
}

.user-card-blur {
  transition: 0.4s;
  filter: blur(0px);
}
.user-card-doblur {
  filter: blur(6px);
}

.user-card-body {
  flex: 1 0;
}

@media screen and (max-width: 992px) {
  .user-card {
    width: 34vw;
  }
}

@media screen and (max-width: 768px) {
  .user-card {
    width: 60vw;
  }
}

@media screen and (max-width: 576px) {
  .people-label {
    font-size: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .user-card {
    width: 80vw;
  }
}
