@import "/styles/variables.scss";

.schedule-card {
  padding: 14px 28px;
  width: 420px;
  height: 240px;
  border-radius: 40px 40px 40px 0px;
}

@media screen and (max-width: 992px) {
  .schedule-card {
  }
}

@media screen and (max-width: 768px) {
  .user-card {
    width: 60vw;
  }

  .user-card-focus {
    z-index: 100;
    transform: scale(1.2);
  }
  .user-card-detail-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {

  .schedule-card {
    width: 80vw;
  }
  .user-card-detail-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {

  .user-card-detail-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 380px) {
  .user-card-detail-text {
    font-size: 0.76rem;
  }
}
